.img-box{
    margin: 0 auto;
    text-align: center;
}
.tip-info{
    color: #BBBBBB;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
a:visited{
    color: blue;
}