<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>法条解读</title>
    <link href="../css/popup.css" rel="stylesheet">
    <link href="./../plugins/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../plugins/fontAwesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="./../plugins/jquery/3.3.1/jquery.min.js"></script>
    <!--    <script src="./../plugins/vue/2.2.2/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./../plugins/popper/1.15.0/umd/popper.min.js"></script>
    <script src="./../plugins/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/popup.js" type="text/javascript"></script>
    <script src="../js/uEdit.js" type="text/javascript"></script>


    <script type="text/javascript" charset="utf-8" src="../ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav container">
        <li class="nav-item">
            <a href="javascript:;" onclick="javascript:history.go(-1);" title="点击返回上一页" class="nav-link">返回上一页</a>
        </li>
    </ul>
</nav>
<div id="content" class="container">
    <div class="card">
        <div id="law-content" class="card-body">
            <input type="hidden" name="id" :value="law.id">
            <h5 class="text-center">{{law.fullName}}</h5>
            <p style="text-indent: 2em;">{{law.content}}</p>
        </div>
        <div class="card-body">
            <div class="card-header">
                解读
                <button v-if="isAdmin && hasReading" class="float-right btn btn-sm btn-outline-secondary"
                        @click="showToggle">修改
                </button>
            </div>
            <div class="card">
                <div v-if="hasReading" v-html="reading">
                </div>
                <div v-else>
                    <div v-if="isAdmin" class="card-body">
                        <p class="card-text text-center text-secondary" @click="showEdit()" style="cursor:pointer;">本法条还未有解读, 点击添加!</p>
                    </div>
                    <div v-else class="card-body">
                        <p class="card-text text-center text-secondary">本法条还未有解读, 等待管理员添加!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-header">
                评论区
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <textarea placeholder="请输入评论" rows="5" id="myComment" class="card-text form-control" v-model="myComment.content" ></textarea>
                        <button class="btn btn-primary float-right" @click="addComment()">提交</button>
                    </div>
                </div>
                <div v-show="!hasComment" class="card">
                    <div class="card-body">
                        <div class="card-text">暂无评论</div>
                    </div>
                </div>
                <div v-if="hasComment" v-for="comment in comments">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="card-title col-11">{{comment.author|authorFilter}}</div>
                                <button class="col-1 btn btn-sm btn-light float-right" @click="reply(comment)">回复</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">{{comment.content}}</div>
                            <div class="card" v-if="hasChildren(comment)"
                                 v-for="child in comment.children">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="card-title col-11">{{child.author|authorFilter}}</div>
                                        <button class="col-1 btn btn-sm btn-light float-right" @click="reply(child)">回复</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{child.content}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="isShow" class="card-body">
            <hr>
            <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
            <div class="btn btn-primary submit-remark float-right" @click="sureSubmit()">提交
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>

    let rVue;
    let lawId = GetQueryString("lawId");
    const default_comment = {
        belong: lawId,
        content: "",
        type: 'READING'
    };
    $(function () {
        let user = JSON.parse(localStorage.getItem("user"));
        rVue = new Vue({
            el: "#content",
            data: {
                law: "",
                user: user,
                remarkType: "REMARK",
                content: "",
                isAppendTo: false,
                reading: null,
                isShow: false,
                myComment: {
                    belong: lawId,
                    content: "",
                    type: 'READING'
                },
                comments: []
            },
            filters: {
                countFilter: function (count) {
                    if (count > 0) {
                        return count + "条";
                    } else {
                        return "暂无数据"
                    }
                },
                nameFilter: function (name, maxSize) {
                    if (name.length > maxSize) {
                        name = name.substring(0, maxSize - 1) + "...";
                    }
                    return name;
                },
                getfullName: function (lawList) {
                    if (lawList.length > 0) {
                        return lawList[0]["fullName"];
                    }
                },
                subContent: function (content, maxSize) {
                    maxSize = maxSize ? 10 : maxSize;
                    if (content) {
                        return "错误数据";
                    }
                    if (content.length > maxSize) {
                        content = content.substring(0, maxSize) + "...";
                    }
                    return content;
                },
                authorFilter(author) {
                    return "tel:" + author.phoneNumber
                }
            },
            methods: {
                showToggle() {
                    this.isShow = !this.isShow;
                    setContent(this.reading, true);
                },
                sureSubmit() {
                    console.log(getContent());
                    if (this.isAdmin && this.hasReading) {
                        sureSubmit('/web/v1/law/updReading', refresh);
                    } else {
                        sureSubmit('/web/v1/law/addReading', refresh);
                    }
                },
                hasChildren(comment) {
                    return comment.children && comment.children.length > 0
                },
                reply(comment){
                    console.log(comment);
                    this.myComment.belong= comment.type==="COMMENT"?comment.belong:comment.id;
                    this.myComment.type = "COMMENT";
                    this.myComment.content = '@'+comment.author.phoneNumber+" ";
                },
                addComment() {
                    let comment = this.myComment;
                    console.log("addComment",comment);
                    if (!comment.content || comment.content.length === 0) {
                        alert("评论内容为空")
                        return;
                    }
                    this.myComment = JSON.parse(JSON.stringify(default_comment));
                    $.post("/web/v1/comment/addComment", comment, function (data) {
                       if(data.code===0){
                           alert("提交成功")
                       }
                    }, "json")
                },
                showEdit(){
                    this.isShow=true;
                }

            },
            computed: {
                isAdmin() {
                    return this.user.roles.includes("ROLE_ADMIN")
                },
                hasReading() {
                    return !!this.reading;
                },
                hasComment() {
                    return this.comments && this.comments.length !== 0;
                }
            }
        });
        $.get("/web/v1/law/getLawById", {"lawId": lawId}, function (data) {
            rVue.law = data.content;
        }, "json");
        $.get("/web/v1/law/getReading", {"lawId": lawId}, function (data) {
            if (data.content && data.content.content) {

                if (data.content === "未获取到解读") {
                    rVue.reading = null;
                    rVue.isShow = true;
                } else {
                    rVue.reading = data.content.content;
                    rVue.isShow = false;
                }
            }
        }, "json");

        $.get("/web/v1/comment/getComments",
            {
                belong: lawId,
                status: "VALID",
            }
            , function (data) {
                if (data.content && data.content) {
                    console.log("com", data.content);
                    if (data.content && data.content.length != 0) {
                        rVue.comments = data.content;
                    } else {
                        rVue.comments = null;
                    }
                }
            }, "json");
        localStorage.removeItem("lawId");
    });
    let refresh = function () {
        location.reload()
    }

</script>