<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link href="./../plugins/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../plugins/fontAwesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./../plugins/bootstrap/bootstrap-switch.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/popup.js"></script>
    <script src="./../plugins/jquery/3.3.1/jquery.min.js"></script>
    <script src="./../plugins/vue/2.2.2/vue.min.js"></script>
    <script src="./../plugins/popper/1.15.0/umd/popper.min.js"></script>
    <script src="./../plugins/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./../plugins/bootstrap/bootstrap-switch.js"></script>
    <script src="./../js/law-main.js"></script>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]);
            return null;
        }
        function getNewLaw(el) {
            let id = $(el).parents(".list-content").find(".item-checkbox").val();
            $.get("/web/v1/law/getNewLaw", {thisLawId: id}, function (data) {
                console.log(data);
                if (data.code === 0) {
                    $law.laws = data.content;
                    showLawModal();
                } else {
                    $popup.toast("获取数据失败" + data.message, 2)
                }
            }, "json").fail(function (err) {
                $popup.toast("很抱歉, 服务器开小差啦T_T", 2)
            });
        }

        function getOldLaws(el) {
            let id = $(el).parents(".list-content").find(".item-checkbox").val();
            $.get("/web/v1/law/getOldLaws", {thisLawId: id}, function (data) {
                if (data.code === 0) {
                    $law.laws = data.content;
                } else {
                    $popup.toast("获取数据失败" + data.message, 2)
                }
            }, "json").fail(function (err) {
                $popup.toast("很抱歉, 服务器开小差啦T_T", 2)
            });
        }

        var $popup = new popup()
        let lawVue;
        let legalVue;
        let $law;
        let legalName = GetQueryString("legalName");

        function toUpdateLaws() {
            let tempLaw = $(".result-content  .item-checkbox:checked").get();
            if (tempLaw.length <= 0) {
                $popup.toast("请先勾选法条", 1);
                return false;
            }
            showLegalModal(
                function (data) {
                    console.log(data);
                    $.post("/web/v1/law/reviseLaws", data, function (data) {
                        if (data.code === 0) {
                            $popup.toast("修改成功! 请刷新查看");
                        } else {
                            console.log(data);
                            $popup.toast("很抱歉, 操作失败! " + data.message, 2)
                        }
                    }, "json").fail(function (err) {
                        console.log(err);
                        $popup.toast("很抱歉, 服务器开小差啦T_T", 2)
                    });
                },
                function (data) {
                    $.post("/web/v1/law/modifyLaws", data, function (data) {
                        if (data.code === 0) {
                            $popup.toast("修改成功! 请刷新查看");
                        } else {
                            $popup.toast("很抱歉, 操作失败" + data.message, 2)
                        }
                    }, "json").fail(function (err) {
                        $popup.toast("很抱歉, 服务器开小差啦T_T", 2)
                    });
                });


        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".saveCondition").bootstrapSwitch({
                onColor: "success",
            }).bootstrapSwitch('state', true);
            lawVue = new Vue({
                el: "#content",
                data: {
                    usr: {},
                    legalName:legalName,
                    conditionList: [],
                    fullName: 0,
                    tag: 0,
                    tags: [],
                    tagIds: [],
                    showTag: [],
                    page: {},
                    tagList: [],
                    fullNameList: [],
                    lawList: [],
                    currentType: 0,
                    conditionType: "法律全称",
                    // 分页信息
                    // 分页查询地址
                    actionURL: "",
                    // 页码
                    pageNum: 1,
                    // 页面大小
                    pageSize: 20,
                    // 总页数
                    pages: 0,
                    // 总条数
                    total: 0,
                    //该标签其他法条分页数据
                    otherLawPage: {
                        //标签名
                        tagName: "",
                        // 页码
                        pageNum: 1,
                        // 页面大小
                        pageSize: 20,
                        // 总页数
                        pages: 0,
                        // 总条数
                        total: 0,
                        //法条列表
                        laws: [],
                        //查找更多数据所需要的信息
                        URLData: {},
                    },
                    //是否多选标签
                    isCheckMore: false,
                },
                filters: {
                    countFilter: function (count) {
                        if (count > 0) {
                            return count + "条";
                        } else {
                            return "暂无数据"
                        }
                    },
                    nameFilter: function (name, maxSize) {
                        if (name.length > maxSize) {
                            name = name.substring(0, maxSize - 1) + "...";
                        }
                        return name;
                    },
                    usrNameFilter: function (name, phone) {
                        if (name)
                            if (!(name.trim().length === 0))
                                return name.trim();
                        if (!phone)
                            return "???";
                        return "P" + phone.substring(0, 3) + "****" + phone.substring(7, 11);
                    },
                },
                methods: {
                    toRemark: function (id) {
                        window.location.href = 'remark.html?lawId=' + id;
                    },
                    toReading:function(id){
                        window.location.href = 'reading.html?lawId=' + id;
                    }
                }
            });
            legalVue = new Vue({
                el: "#LegalModal",
                data: {
                    legals: undefined,//这里指向id
                }
            });
            $law = new Vue({
                el: "#LawModal",
                data: {
                    laws: [{
                        content: "",
                        releaseTime: {year: 0}
                    }],//这里指向id
                }
            });
            getLegals();
            getUsr();

        });

        function getLegals() {
            $.get("/web/v1/law/getLegals", {}, function (data) {
                if (data.code === 0) {
                    legalVue.legals = data.content;
                } else {
                    console.log(data);
                    $popup.toast("获取法律数据失败", 2);
                }
            }, "json").fail(function (err) {
                console.log(err);
                $popup.toast("很抱歉! 服务器开小差啦T_T", 2)
            })
        }

        function getUsr() {
            $.get("/me", {}, function (data) {
                if (data.code === 0) {
                    lawVue.usr = data.content;
                } else {
                    $popup.toast("很抱歉, 获取用户信息失败! ", 2)
                }
            }).fail(function (err) {
                $popup.toast("很抱歉, 服务器开小差啦T_T", 2)
            })
        }
    </script>
    <style>
        #law-list, #legal-tag-list, #legal-name-list {
            list-style: none;
        }

        .switch {
            display: inline-block;
        }

        .bootstrap-switch {
            border-radius: 18px;
            width: 30px !important;
            height: 18px !important;
            position: relative;
            left: 12px;
        }

        .bootstrap-switch .bootstrap-switch-handle-off,
        .bootstrap-switch .bootstrap-switch-handle-on,
        .bootstrap-switch .bootstrap-switch-label {
            padding: 0px;
            font-size: 12px;
            display: inline-block;
        }

        .bootstrap-switch .bootstrap-switch-label {
            width: 0px !important;
            height: 18px;
            border-radius: 11px !important;
            position: relative;
            top: 3px;
        }

        .bootstrap-switch .bootstrap-switch-handle-on {
            width: 30px !important;
        }

        .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondar {
            width: 30px !important;
            border-radius: 11px;
            position: relative;
            left: -3px;
            color: #fff !important;
            background-color: #aaa;
            border-color: #aaa;
        }

        .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondar:hover {
            background-color: #aaa;
            border-color: #aaa;
        }

        #saveTheCondition {
            font-size: 8px;
            color: #aaa;
            position: relative;
            top: 20px;
            left: -35px;
        }

        .btn.btn-outline-secondary.ml-auto:hover {
            background-color: #fff;
            color: #6c757d;
        }

        .nav-item.btn.btn-outline-info span.fa-close {
            width: 12px;
            height: 12px;
            size: 3px;
            font-size: smaller;
            position: relative;
            top: -12px;
            right: -12px;
            margin: 0px;
            padding: 0px;
            display: inline-block;
        }

        .nav-item.btn.btn-outline-info span.fa-close:hover {
            color: #dc3545;
        }

        .law-content {
            text-indent: 2em;
        }

        .release-time {
            color: #6c757d;
            font-size: 10px;
            float: right;
            position: relative;
            top: -20px;
            right: 8px;
            z-index: -1;
        }

        .tags fa.fa-tags {
            font-size: 8px;
        }

        .tags span.law-tag-span.btn.btn-outline-info, .tags button.law-tag-button.btn.btn-outline-info {
            font-size: 8px;
            padding: 2px;
            margin: 0px 2px;
        }

        .fa.fa-angle-double-down:hover {
            color: #1b1e21;
            font-size: 1.1em;
            cursor: pointer;
        }

        /*--------以下编辑于vscode------*/
        .flex-toolbar {
            position: fixed;
            right: 10px;
            bottom: 100px;
            font-size: 24px;
            font-weight: bold;
            opacity: 0.9;
        }

        .tagName-box {
            position: fixed;
            right: 44px;
            bottom: 107px;
            font-size: 14px;
            width: 160px;
            display: none;
        }

        .tagName-box input {
            height: 38px;
        }

        .tagName-box span:hover {
            cursor: pointer;
        }

        span#name.btn.disabled.btn-sm.btn-outline-primary {
            min-width: 0px;
            font-size: 14px;
            padding: 2px 3px;
            display: inline;
        }

        #footer div#morePage .btn {
            margin: 10px auto;
        }

        .message-box {
            display: none;
            color: #999999;
            font-size: 8px;
            float: right;
            width: 200px;
            text-align: right;
        }

        .flex-nav {
            position: fixed;
            width: 100%;
            top: 0px;
        }

        #fa-spinner {
            color: #777777;
            font-size: 18px;
        }

        .lost {
            color: grey;
            cursor: pointer;
        }

        .hasContent {
            color: #000;
            cursor: pointer;
        }

        tr.list-content.border-bottom.border-secondary.mt-1.pb-1.INVALID {
            color: #AAA;
            background-color: #FEE;
            font-style: oblique
        }

        tr.list-content.border-bottom.border-secondary.mt-1.pb-1.MODIFIED {
            background-color: #c0e6fe;
            font-style: oblique
        }

        .pointer {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="header"></div>

<div id="content">
    <div id="search">
        <div class="row text-center">
            <div class="col-9">
                <ul id="search-tool-bar" class="d-inline-flex p-md-3 nav nav-pills" style="min-width: 640px">
                    <li class="p-1 nav-item">
                        <a class="nav-link active" data-toggle="pill" onclick="changeType(1)" href="#sFullName">全称搜索</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" data-toggle="pill" onclick="changeType(2)" href="#sContent">关键词搜索</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" data-toggle="pill" onclick="changeType(3)" href="#sTags">标签查找</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" data-toggle="pill" onclick="window.location.href = 'legalTags.html'"
                           href="#tagList">全部标签</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" data-toggle="pill"
                           onclick="window.location.href = '../admin/MangeHome.html'" href="#tagList">管理</a>
                    </li>
                    <li id="xxx" title="切换搜索类型时保留搜索关键词">
                        <input type="checkbox" class="saveCondition" name="saveCondition"/>
                        <span id="saveTheCondition">保留关键字</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mt-4">
                <a href="../user/member-center.html"><i class="fa fa-user">{{usr.username|usrNameFilter(usr.phoneNumber)}}</i></a>
                <a href="/logout" v-if="usr.phoneNumber">[退出]</a>
            </div>
        </div>
        <div id="search-box" class="tab-content container">
            <form class="tab-pane active container form-inline row" id="sFullName" onsubmit="return false;">
                <span class="ml-5"></span>
                <div class="input-group col">
                    <input class="search-input form-control" autofocus name="conditions"
                           placeholder="请输入法律全称,将在法律全称中进行匹配" :value="legalName">
                    <button class="search-btn btn btn-primary input-group-prepend"
                            onclick="sFullName(this.parentElement)"><span class="fa fa-search"></span> 搜索
                    </button>
                </div>
                <span class="ml-5"></span>
            </form>
            <form class="tab-pane container form-inline row" id="sContent" onsubmit="return false;">
                <span class="ml-5"></span>
                <div class="input-group col">
                    <input class="search-input form-control" name="conditions" placeholder="请输入内容关键词,将在法条内容中进行匹配">
                    <button class="search-btn btn btn-primary" onclick="sContent(this.parentElement)"><span
                            class="fa fa-search"></span> 搜索
                    </button>
                </div>
                <span class="ml-5"></span>
            </form>
            <form class="tab-pane container form-inline row" id="sTags" onsubmit="return false;">
                <span class="ml-5"></span>
                <div class="input-group col">
                    <input class="search-input form-control" name="conditions" placeholder="请输入法条标签,将在法条标签中进行匹配">
                    <button class="search-btn btn btn-primary" onclick="sTags(this.parentElement)"><span
                            class="fa fa-search"></span> 搜索
                    </button>
                </div>
                <span class="ml-5"></span>
            </form>
            <form class="tab-pane container" id="tagList">
            </form>
        </div>
    </div>
    <div class="container">
        <div id="result-list" class="result-box">
            <div class="result-bar">
                <!--            <div class="condition-box" v-if="conditionList.length > 0">-->
                <nav class="condition-box navbar navbar-expand-sm bg-light" title="切换搜索范围">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            {{conditionType}}
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">搜索范围</h6>
                            <span class="dropdown-item" onclick="dropdownChangeType(1)">法律全称</span>
                            <span class="dropdown-item" onclick="dropdownChangeType(2)">法律条文</span>
                            <span class="dropdown-item" onclick="dropdownChangeType(3)">法条标签</span>
                        </div>
                        <b class="caret"></b>
                    </div>
                    中搜索:
                    <ul class="navbar-nav btn-group">
                        <li class="nav-item  btn btn-outline-info" v-for="conditionItem in conditionList">
                            <span class="conditionItem">{{conditionItem}}</span>
                            <span class="fa fa-close " title="删除该关键词"
                                  onclick="removeThisCondition(this.parentElement)"></span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-outline-secondary ml-auto" onclick="searchByType()"
                            title="点击搜索">
                        <span class="fa fa-search"></span>搜索
                    </button>
                    <div class="message-box" title="数据查询结果">
                        <span id="fa-spinner" class="fa fa-spinner fa-pulse"></span><span id="searching">正在查找</span>
                        <span id="pageInfo">已显示<span id="showTotal">999999</span>项/共<span
                                id="total">999999</span>项</span>
                    </div>
                </nav>
            </div>
            <div class="row">

            </div>
            <div class="result-content">
                <ul style="display: none" id="legal-name-list" class="list-group">
                    <li class="list-head list-group-item disabled">
                        <div class="content-box">法律名称</div>
                    </li>
                    <div class="list-content">
                        <div class="content-box">
                            <li class="Legal-name list-group-item list-group-item-action"
                                v-for="(item,index) in fullNameList" onclick="showLawsByFullName(this)">
                                <input type="hidden" name="fullNameId" :value="item.id">
                                <span class="pointer">{{index+1}}. {{item.fullName}}</span>

                                <span class="law-content">({{item.count|countFilter}})</span>
                            </li>

                        </div>
                    </div>
                </ul>

                <ul style="display: none" id="legal-tag-list" class="list-group">
                    <li class="list-head list-group-item">
                        <div class="content-box">标签名
                            <span class="fa fa-circle float-right" v-if="isCheckMore"
                                  onclick="lawVue.isCheckMore = !lawVue.isCheckMore">选择多个标签 <a
                                    class="btn btn-sm btn-outline-secondary" onclick="getLawsByTags()">查询</a> </span>
                            <span class="fa fa-circle-o float-right" v-if="!isCheckMore"
                                  onclick="lawVue.isCheckMore = !lawVue.isCheckMore">选择多个标签</span>
                        </div>
                    </li>
                    <div class="list-content">
                        <div class="content-box">
                            <li class="Legal-name list-group-item list-group-item-action"
                                v-for="(item,index) in tagList" onclick="showLawsByTag(this)">
                                <div class="float-left" style="width: 20px" v-show="isCheckMore">
                                    <div>
                                        <input type="checkbox" name="CheckMoreList">
                                        <input type="hidden" :value="item.id" name="tagId">
                                        <input type="hidden" :value="item.count" name="tagCount">
                                    </div>
                                </div>
                                <input type="hidden" name="tagId" :value="item.id">
                                <span class="pointer"> {{index+1}}. {{item.name}}</span>
                                <span class="law-content">({{item.count|countFilter}})</span>
                            </li>
                        </div>
                    </div>
                </ul>

                <table class="table table-striped table-hover table-responsive-md" style="display: none" id="law-list">
                    <thead>
                    <tr class="thead-light text-md-center">
                        <td class="chooseAll" title="长按全选/反选" onclick="chooseAll()"><span
                                class="check-box fa fa-square-o"></span></td>
                        <td></td>
                        <td>法条内容</td>
                    </tr>
                    </thead>
                    <tr class="list-content border-bottom border-secondary mt-1 pb-1" v-for="(item,index) in lawList"
                        :class="{INVALID: item.status == 'INVALID',MODIFIED: item.status == 'MODIFIED'}">
                        <td class="itemCheckbox" title="选择/取消" style="vertical-align: middle;"
                            onclick="checkedThis(this, event)"><span class="check-box fa fa-square-o"></span></td>
                        <td style="vertical-align: middle;">{{index+1}}</td>
                        <td class="content-box">
                            <input class="item-checkbox d-none" name="lawIds" type="checkbox" :value="item.id">
                            <h5 class="Legal-name">
                                <i v-if="item.status == 'INVALID'" title="已失效" data-toggle="tooltip"
                                   class="fa fa-power-off text-warning font-weight-bold" onclick="getNewLaw(this)"></i>
                                <i v-if="item.status == 'MODIFIED'" title="被修改" data-toggle="tooltip"
                                   class="fa fa-refresh text-dark font-weight-bold" onclick="getNewLaw(this)"></i>
                                {{item.fullName}}
                            </h5>
                            <p class="law-content mb-1">{{item.content}}</p>
                            <span class="release-time">发布时间: {{item.releaseTime.year}}</span>
                            <div class="mr-lg-1">
                                <div class="">
                                    <button class="btn btn-sm btn-outline-secondary"><span class="fa fa-newspaper-o" @click="toRemark(item.id)">法条全景</span>
                                    </button>
                                    <button class="btn btn-sm btn-outline-secondary"><span class="fa fa-object-group" @click="toReading(item.id)">法条解读</span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div style="display: none" id="ohterTag-laws" class="list-group">
                    <div class="list-head list-group-item">
                        <!--"其他法条"的分页信息-->
                        <div class="content-box">获取标签名为: "{{otherLawPage.tagName}}"
                            的其他标签结果-(共{{otherLawPage.total}}条/已显示
                            {{(otherLawPage.pageNum <
                            otherLawPage.pages)?otherLawPage.pageNum*otherLawPage.pageSize:otherLawPage.total}}条)
                            <span id="colse-ohterTag-laws" style="cursor: pointer;" class="fa fa-close float-right"
                                  onclick="closeOTL()"></span>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-box">
                            <div class="Legal-name list-group-item list-group-item-action"
                                 v-for="(item,index) in otherLawPage.laws">
                                <h5 class="Legal-name">{{item.fullName}}</h5>
                                <p class="law-content mb-1">{{item.content}}</p>
                                <span class="release-time">发布时间: {{item.releaseTime.year}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="otherLawPage.pageNum < otherLawPage.pages" class="text-center" style="cursor: pointer;">
                        <span class="btn btn-info btn-small btn-sm center-align" onclick="getMoreOTagL()">加载更多</span>
                    </div>
                    <div v-else class="text-center">
                        <span class="btn btn-outline-info btn-sm btn-small center-align disabled">没有更多了</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="flex-toolbar" style="z-index: 9999">
    <div class="btn-group-vertical float-right">
        <button class="turn-top btn btn-light" title="到顶部" onclick="window.location.href = '#header'">
            <a href="#header" class="d-block"></a><span class="fa fa-angle-up"></span>
        </button>
        <button class="addTag-buttom btn btn-secondary" title="修改法条" onclick="toUpdateLaws()" style="z-index: 10000;">
            <span class="fa fa-gavel"></span>
        </button>
        <button class="addTag-buttom btn btn-secondary" title="添加标签" onclick="addTagInpu()" style="z-index: 10000;">
            <span class="fa fa-pencil-square-o"></span>
        </button>
        <button class="turn-bottom btn btn-light" title="到底部" onclick="window.location.href = '#footer'">
            <a href="#footer"></a><span class="fa fa-angle-down"></span>
        </button>
    </div>
    <div class="tagName-box">
        <input class="" name="tagName" type="text" placeholder="请输入标签名">
        <div class="input-group-append">
            <button class="btn bg-primary" style="width: 77px;" title="添加" onclick="addTag(this)">添加</button>
            <button class="btn bg-secondary" style="width: 77px;" title="取消" onclick="cancelTag(this)">取消</button>
        </div>
    </div>
</div>
<div id="footer" class="text-center">
    <div id="morePage" style="display: none;">
        <span class="btn btn-primary btn-small" onclick="getMore()">加载更多</span>
    </div>
</div>
<div id="LegalModal" class="modal fade" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div lang="card">
                    <form method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="legalName">法律名称:</label>
                                <select class="form-control" id="legalName">
                                    <option v-for="legal in legals" :value="legal.id">{{legal.fullName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="releaseTime">发布时间:</label>
                                <div class=" input-group">
                                    <input class="form-control" id="releaseTime" rows="5" placeholder="请输发布时间"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">年</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="legalNo">法条编号:</label>
                                <div class=" input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">第</span>
                                    </div>
                                    <input class="form-control" id="legalNo" rows="5" placeholder="请输法条编号"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">条</span>
                                    </div>
                                </div>
                            </div>
                            legalNo
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="LawContent">法条正文:</label>
                                <textarea class="form-control" id="LawContent" rows="5" placeholder="请输入内容"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary btnOver">覆盖原法条</button>
                    <button type="button" class="btn btn-primary btnUpd">修改原法条</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="CaseModal" class="modal fade" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                案例: <input type="text" name="legalCase" id="legalCase" placeholder="请输入案例名称"/><br>
                地址: <input type="url" name="url" id="url" placeholder="请输入网址"/>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary btnSure">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="DialogModal" class="modal fade" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提交确认- <span></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <label></label> <span disabled id="name" class="btn disabled btn-sm btn-outline-primary"></span>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary btnSure">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="logModal" class="modal fade" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="LawModal" class="modal fade" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div lang="card">
                    <div class="card-body" v-for="law in laws">
                        <h4 class="card-text">
                            {{law.fullName}}
                            <span class="card-text badge badge-pill badge-secondary" style="font-size: 10px;">发布时间: {{law.releaseTime.year}}</span>
                        </h4>
                        <div class="card-text">{{law.content}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>
<script>
    let oldValue = "",// 旧条件
        oldType = 0,// 旧条件类型
        currentType = 1,// 当前条件类型
        conditions = [],// 条件列表
        byTypeFlage = false;//导航栏搜索按钮识别
    conditionType = {
        1: "法律全称",
        2: "法律条文",
        3: "法条标签",
    };

    function sTags(el) {
        let curretnValue = $(el).find("input[name=conditions]").val().trim();
        if (!checkInput(curretnValue, 3))
            return;
        addcondition(curretnValue);
        lawVue.actionURL = "/web/v1/tag/searchTags";
        lawVue.currentType = 3;
        showSearch();
        $.get(lawVue.actionURL,
            {"conditions": conditions.toString()},
            function (data) {
                oldValue = curretnValue;
                // 60秒后删除旧值
                setTimeout(function () {
                    oldValue = "";
                }, 60000);
                // 该条件已被查询, 不能继续搜索
                byTypeFlage = true;
                setTimeout(function () {
                    byTypeFlage = false;
                }, 60000)
                oldType = 3;
                if (data.code == 0) {
                    showTags(data.content.pageContent);
                    setpageInfo(data.content)
                }
                console.log(data);
            },
            "json"
        )
    }

    function sContent(el) {
        let curretnValue = $(el).find("input[name=conditions]").val().trim();
        if (!checkInput(curretnValue, 2))
            return;
        addcondition(curretnValue);
        lawVue.actionURL = "/web/v1/law/search/onContent"
        lawVue.currentType = 2;
        showSearch();
        $.get(lawVue.actionURL,
            {"conditions": conditions.toString()},
            function (data) {
                oldValue = curretnValue;
                // 60秒后删除旧值
                setTimeout(function () {
                    oldValue = "";
                }, 60000);
                // 该条件已被查询, 不能继续搜索
                byTypeFlage = true;
                setTimeout(function () {
                    byTypeFlage = false;
                }, 60000)
                oldType = 2;
                if (data.code == 0) {
                    showLaws(data.content.pageContent);
                    setpageInfo(data.content)
                }
                console.log(data);
            },
            "json"
        )
    }

    function sFullName(el) {
        let curretnValue = $(el).find("input[name=conditions]").val().trim();
        if (!checkInput(curretnValue, 1))
            return;
        addcondition(curretnValue);
        lawVue.actionURL = "/web/v1/law/searchFullName";
        lawVue.currentType = 1;
        showSearch();
        $.get(lawVue.actionURL,
            {"conditions": conditions.toString()},
            function (data) {
                oldValue = curretnValue;
                // 60秒后删除旧值
                setTimeout(function () {
                    oldValue = "";
                }, 60000);
                // 该条件已被查询, 不能继续搜索
                byTypeFlage = true;
                setTimeout(function () {
                    byTypeFlage = false;
                }, 60000)
                oldType = 1;
                if (data.code == 0) {
                    showFullName(data.content.pageContent);
                    setpageInfo(data.content)
                }
                console.log(data);
            },
            "json"
        )
    }

    /**
     * 检查输入
     * @param curretnValue 当前输入的值
     * @param type 输入值类型(三种搜索类型)
     * @returns {boolean}
     */
    function checkInput(curretnValue, type) {
        if (curretnValue == "") {
            alert("为空");
            return false;
        } else if (curretnValue == oldValue && oldType == type) {
            alert("频繁重复提交! 请1分钟后重试")
            return false;
        } else {
            // 60秒后删除旧值
            setTimeout(function () {
                oldValue = "";
            }, 60000);
            lawVue.conditionList = conditions;
            // 有新条件检测通过, 搜索栏可以点击搜索
            byTypeFlage = false;
            return true;
        }
    }

    function clearConditions() {
        conditions = [];
    }

    /**
     * 移除第一个符合条件的值
     * @param condition
     * @returns {boolean}
     */
    function removeCondition(condition) {
        let foundAt = find(condition);
        if (foundAt > -1) {
            conditions.splice(foundAt, 1);
            return true;
        }
        return false;
    }


    /**
     * 想conditions中添加元素,如果相同则更新位置到最后
     * @param newcondition
     */
    function addcondition(newcondition) {
        removeCondition(newcondition);
        conditions.push(newcondition);
    }

    /**
     * 查找第一个符合条件的元素并返回索引,未找到返回-1
     * @param element
     * @returns {number}
     */
    function find(element) {
        if (conditions.length == 0)
            return -1;
        for (let i = 0; i < conditions.length; i++) {
            if (conditions[i] == element) {
                return i;
            }
        }
        return -1;
    }

    /**
     * 清除输入框的值
     */
    function clearInput() {
        $(".search-input").val("");
    }

    /**
     * 显示结果
     * @param type
     */
    function showResultbox(type) {
        let isSaveCondition = $(".saveCondition").bootstrapSwitch('state');
        if (!isSaveCondition) {
            clearConditions();
            lawVue.conditionList = [];
        }
    }

    function changeType(type) {
        if (currentType == type)
            return;
        currentType = type;
        if (type == 4) {
            $(".condition-box").hide();
            return;
        } else
            $(".condition-box").show(20);
        // 搜索条件修改, 搜索栏可以点击搜索
        byTypeFlage = false;
        clearInput();
        lawVue.conditionType = conditionType[type];
        showResultbox(type);
    }

    function dropdownChangeType(type) {
        $($(".nav-link").get(type - 1)).click();
    }

    function removeThisCondition(element) {
        let conditionItem = $(element).find(".conditionItem").html().trim();
        oldValue = "";
        removeCondition(conditionItem);
        lawVue.conditionList = conditions;
        // 有条件被移除, 搜索栏可以点击搜索
        byTypeFlage = false;
    }

    function searchByType() {
        if (conditions.length < 1) {
            alert("为空");
            return;
        }
        if (byTypeFlage) {
            alert("频繁重复提交! 请1分钟后重试");
            return;
        }
        byTypeFlage = true;
        setTimeout(function () {
            byTypeFlage = false;
        }, 60000)
        showSearch();
        if (currentType == 1) {
            lawVue.actionURL = "/web/v1/law/searchFullName"
            lawVue.currentType = 1;
            $.get(lawVue.actionURL,
                {"conditions": conditions.toString()},
                function (data) {
                    if (data.code == 0) {
                        showFullName(data.content.pageContent);
                        setpageInfo(data.content)
                    }
                    console.log(data);
                },
                "json"
            )
        } else if (currentType == 2) {
            lawVue.actionURL = "/web/v1/law/search/onContent";
            lawVue.currentType = 2;
            $.get(lawVue.actionURL,
                {"conditions": conditions.toString()},
                function (data) {
                    if (data.code == 0) {
                        showLaws(data.content.pageContent);
                        setpageInfo(data.content)
                    }
                    console.log(data);
                },
                "json"
            )
        } else if (currentType == 3) {
            lawVue.actionURL = "/web/v1/tag/searchTags";
            lawVue.currentType = 3;
            $.get(lawVue.actionURL,
                {"conditions": conditions.toString()},
                function (data) {
                    if (data.code == 0) {
                        showTags(data.content.pageContent);
                        setpageInfo(data.content)
                    }
                    console.log(data);
                },
                "json"
            )
        }
    }

    /**
     * 根据数据显示标签查询结果
     * @param data
     */
    function showTags(data) {
        $("#law-list").hide();
        $("#legal-name-list").hide();
        $("#legal-tag-list").show();
        lawVue.tagList = data;
    }

    /**
     * 根据数据显示标全称查询结果
     * @param data
     */
    function showFullName(data) {
        $("#law-list").hide();
        $("#legal-name-list").show();
        $("#legal-tag-list").hide();
        lawVue.fullNameList = data;
    }

    /**
     * 根据数据显示法条查询结果
     * @param data
     */
    function showLaws(data, isAppend) {
        $("#law-list").show();
        $("#legal-name-list").hide();
        $("#legal-tag-list").hide();
        if (isAppend) {
            lawVue.lawList = lawVue.lawList.concat(data);
        } else {
            lawVue.lawList = data;
        }
    }

    function showLawsByFullName(el) {
        let fullName = $(el).find("input[name=fullNameId]").val();
        // console.log(fullName)
        lawVue.fullName = fullName;
        lawVue.actionURL = "/web/v1/law/getLawsByFullName";
        lawVue.currentType = 2;
        showSearch();
        $.get(lawVue.actionURL,
            {"fullName": fullName},
            function (data) {
                showLaws(data.content.pageContent);
                setpageInfo(data.content)
            },
            "json"
        )
    }

    function showLawsByTag(el) {
        if (lawVue.isCheckMore) {
            return;
        }
        let tag = $(el).find("input[name=tagId]").val();
        // console.log(tag)
        lawVue.tag = tag;
        lawVue.actionURL = "/web/v1/law/getLawsByTag"
        lawVue.currentType = 2;
        lawVue.showTag = [tag];
        showSearch();
        $.get(lawVue.actionURL,
            {"tag": tag},
            function (data) {
                showLaws(data.content.pageContent);
                setpageInfo(data.content)
            },
            "json"
        )
    }

    /**
     * 获取被选中标签的其他法条(排除本法条和页面已显示的通过标签查询过来的法条)
     * @param el
     */
    function getThisTagOthers(el) {
        let tagId = $(el).find("input[name=tagId]").val(),
            lawId = $(el).find("input[name=lawId]").val();
        let data = {
            "thisTag": tagId,
            "thisLaw": lawId,
            "showTag": lawVue.showTag.toString(),
        };
        lawVue.otherLawPage.URLData = data;
        $.get("/web/v1/law/getThisTagOthers", data, function (data) {
            if (data.code === 10002) {
                showLogModal("页面提示-非法获取方式", "禁止获取已通过法条标签查找显示的法条!");
            } else if (data.code === 0) {
                if (data.content.pageContent.length > 0) {
                    lawVue.otherLawPage.tagName = $(el).find("button span").html();
                    insertLaws(data.content, false);
                    //需要延时到vue渲染完毕才显示
                    setTimeout(function () {
                        createOhterTagLawsBox(el);
                    }, 10);
                } else {
                    showLogModal("页面提示-发条获取", "对应标签暂无其他法条可以获取")
                }
            }
        }, "json");
    }

    function createOhterTagLawsBox(el) {
        let html = $("#ohterTag-laws");
        $(el).parent().append(html);
        $("#ohterTag-laws").show();
    }

    /**
     * 对子法条列表插入法条
     * @param lawPage 法条分页数据信息
     * @param isAppend 是否追加
     */
    function insertLaws(lawPage, isAppend) {
        console.log(lawPage);
        lawVue.otherLawPage.total = lawPage.total;
        lawVue.otherLawPage.pages = lawPage.pages;
        lawVue.otherLawPage.pageSize = lawPage.pageSize;
        lawVue.otherLawPage.pageNum = lawPage.pageNum;
        if (isAppend) {
            lawVue.otherLawPage.laws = lawVue.otherLawPage.laws.concat(lawPage.pageContent);
        } else {
            lawVue.otherLawPage.laws = lawPage.pageContent;
        }

    }

    /**
     * 用于删除ohterTag-laws子法条列表
     */
    function closeOTL() {
        console.log("ss");
        $("#ohterTag-laws").hide();
    }

    function getMoreOTagL() {
        lawVue.otherLawPage.URLData["pageNum"] = lawVue.otherLawPage.pageNum + 1;
        $.get("/web/v1/law/getThisTagOthers", lawVue.otherLawPage.URLData, function (data) {
            if (data.code === 10002) {
                showLogModal("页面提示-非法获取方式", "禁止获取已通过法条标签查找显示的法条!");
            } else if (data.code === 0) {
                if (data.content.pageContent.length > 0) {
                    insertLaws(data.content, true);
                } else {
                    showLogModal("页面提示-发条获取", "对应标签暂无其他法条可以获取")
                }
            }
        }, "json");
    }
</script>
<script>

</script>
<script>

</script>
<script>
    function getLawsByTags() {
        let tagsArry = $("input[name=CheckMoreList]:checked").get();
        let tags = [];
        let tag = [];
        let total = 0;
        tagsArry.forEach(function (item, index) {
            tags.push({
                "id": $(item).parent().find("input[name=tagId]").val(),
                "count": $(item).parent().find("input[name=tagCount]").val(),
            });
            tag.push($(item).parent().find("input[name=tagId]").val());
            total = total + Number($(item).parent().find("input[name=tagCount]").val());
        })
        console.log("total: " + total);
        lawVue.actionURL = "/web/v1/law/getLawsByTags";
        let data = {
            "tags": JSON.stringify(tags)
        }
        lawVue.tags = tags;
        console.log(JSON.stringify(data));
        $.get(lawVue.actionURL, data, function (data) {
            console.log(data);
            lawVue.showTag = tag;
            // lawVue.tag = tag;
            let arr = data.content;
            arr.forEach(function (item, index) {
                if (index == 0) {
                    showLaws(item.laws);
                } else {
                    showLaws(item.laws, true);
                }
            })
            lawVue.currentType = 4;
            data["pageNum"] = 1
            data["pageSize"] = 20;
            data["total"] = total;
            data["pages"] = Math.ceil(total / data["pageSize"]);
            setpageInfo(data)
        }, "json")
    }

    /*浮动导航栏--及其工具修正*/
    function hideSpinner() {
        $("#fa-spinner").hide();
    }

    function showSpinner() {
        $("#fa-spinner").show();
    }

    function showSearch(data) {
        $(".message-box").show();
        $("#searching").show();
        showSpinner();
        $("#pageInfo").hide();
    }

    function showPageInfo(data) {
        $("#searching").hide();
        $("#pageInfo").show();
        hideSpinner();
        let total = 0,
            showTotal = 0;
        total = lawVue.total;
        showTotal = lawVue.pageNum < lawVue.pages ? lawVue.pageSize * lawVue.pageNum : total;
        $("#total").html(total);
        $("#showTotal").html(showTotal);
    }

    // Ok
    $(document).scroll(function () {
        let reHeight = 54; // 高度修正值
        let result_content_offset = $(".result-content").offset().top - $(window).scrollTop() - reHeight;
        if (result_content_offset <= 0) {
            $(".result-bar").addClass("flex-nav");
        } else if (result_content_offset > 0) {
            $(".result-bar").removeClass("flex-nav");
        }
    })
</script>
</html>